/*
*background:	#1D1F28
*foreground:	#FDFDFD
*cursorColor:	#C574DD
*color0:	#282A36
*color1:	#F37F97
*color2:	#5ADECD
*color3:	#F2A272
*color4:	#8897F4
*color5:	#C574DD
*color6:	#79E6F3
*color7:	#FDFDFD
*color8:	#414458
*color9:	#FF4971
*color10:	#18E3C8
*color11:	#FF8037
*color12:	#556FFF
*color13:	#B043D1
*color14:	#3FDCEE
*color15: #BEBEC1
*/


@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    background-color: #fff;
    margin: 0px;
    background-image: url("bg.jpg"); /* ("bg.jpg"); */
    font-family: "Roboto Mono";

}
.welcome {
    color:#79E6F3;
    font-size: 2em;
    opacity: .60;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: sans-serif;
    font-size: 5em;
    font-weight: 600;
    font-family: "Roboto Mono";
    color: #79E6F3;
    margin-bottom: .25em;
    opacity: .50;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #1D1F28;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #1D1F28;
    border: solid 0px #1D1F28;
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
    z-index: 1;
}

.weather-container {
    width: 30%;
    background-color: #1D1F28;
    padding: 1em;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    opacity: .60;
}
.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 1em 0em;
    opacity: .60;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
        text-align: center;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
    a {
        padding: .15em;
    }
    .weather-container {
        width: 55%;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #1D1F28;
    border-radius: 3px;
    font-size: .85rem;
    width: 25%;
    height: 13em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    /* overflow:scroll; to show the scroll bar for oversized areas */
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #79E6F3;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #FDFDFD;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #fff;
}
